{
    "swagger": "2.0",
    "info": {
        "description": "Proyecto organizado en Codigo para la Reserva de aulas en uns sistema",
        "version": "1.0.0",
        "title": "Reserva de Aulas",
        "termsOfService": "http://swagger.io/terms/",
        "contact": {
            "email": "marvillatorres@gmail.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https://opensource.org/licenses/MIT"
        }
    },
    "host": "probando-node-aqp.heroku.com",
    "basePath": "/v2",
    "tags": [
        {
            "name": "pabellon",
            "description": "Todo relacionado acerca de los Pabellones para la reserva de las aulas"
        },
        {
            "name": "store",
            "description": "Access to Petstore orders"
        },
        {
            "name": "user",
            "description": "Operations about user",
            "externalDocs": {
                "description": "Find out more about our store",
                "url": "http://swagger.io"
            }
        }
    ],
    "schemes": [
        "https"
    ],
    "paths": {
        "/pabellon": {
            "get": {
                "tags": [
                    "pabellon"
                ],
                "summary": "Traer todos los pabellones de nuestra base datos",
                "description": "hacemos una consulta a nuestra base de datos par auqe nos devuelva todos los pabellones ingresados",
                "operationId": "getAllPabellon",
                "produces": [
                    "application/json"
                ],
                "responses": {
                    "200": {
                        "description": "Todos los pabellones",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Pabellon"
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "pabellon"
                ],
                "summary": "Ingresar Pabellon",
                "description": "Mandamos un pabellon por el body y este se agrega a nuestra tabla en nuestra base de datos",
                "operationId": "AddPabellon",
                "consumes": [
                    "aplicacion/json"
                ],
                "produces": [
                    "aplicacion/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "description": "El objeto pabellon que va  a ser ingresado a la base de datos",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Pabellon"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "El pabellon fue creado con exito"
                    },
                    "400": {
                        "description": "Hubo un error al crear el pabellon"
                    }
                }
            }
        },
        "/pabellon/{id}": {
            "get": {
                "tags": [
                    "pabellon"
                ],
                "summary": "Traer todos los pabellones segun su id ",
                "description": "hacemos una consulta a nuestra base de datos par que nos devuelva todos los pabellones seleccionados",
                "operationId": "getAllPabellonById",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id del pabellon para ser buscados",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Pabellones",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Pabellon"
                            }
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "petstore_auth": {
            "type": "oauth2",
            "authorizationUrl": "http://petstore.swagger.io/oauth/dialog",
            "flow": "implicit",
            "scopes": {
                "write:pets": "modify pets in your account",
                "read:pets": "read your pets"
            }
        },
        "api_key": {
            "type": "apiKey",
            "name": "api_key",
            "in": "header"
        }
    },
    "definitions": {
        "Pabellon": {
            "type": "object",
            "properties": {
                "pab_id": {
                    "type": "integer",
                    "format": "int64"
                },
                "pab_desc": {
                    "type": "string"
                }
            }
        }
    },
    "externalDocs": {
        "description": "Find out more about Swagger",
        "url": "http://swagger.io"
    }
}
